# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ec2/config.ps1
ec2/config.sh
ec2/manage.ps1
ec2/manage.sh
ec2/start.sh
ec2/status.sh
ec2/stop.sh
.gitignore
.github/workflows/flow
