name: Docker Build Push

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Debug secrets (safe)
        run: |
          if [ -z "${{ secrets.DOCKER_USERNAME }}" ]; then echo "USERNAME EMPTY"; exit 1; fi
          if [ -z "${{ secrets.DOCKER_TOKEN }}" ]; then echo "TOKEN EMPTY"; exit 1; fi
          echo "Secrets OK"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build image
        run: docker build -t 20016/fontaction:latest .

      - name: Push image
        run: docker push 20016/fontaction:latest
